# Public URL
NEXT_PUBLIC_SITE_URL=https://kelvinbward.com

# Analytics
NEXT_PUBLIC_GA_ID=

# API Configuration
# If accessing middleware internally
INTERNAL_API_URL=http://middleware-app-1:5000
# If accessing from client side
NEXT_PUBLIC_API_URL=https://middleware.kelvinbward.com
