# Application Registry
# This file defines the applications managed by the infrastructure.
# Format: Bash Associative Array concept (simulated)

# List of Registered Applications (Uppercase Identifiers)
# List of Registered Applications (Uppercase Identifiers)
REGISTERED_APPS=("KELVINBWARD" "MIDDLEWARE" "RESUME" "GOOBFACE" "CREATIVEAUDIOJS" "BLOG")

# --- APP: KELVINBWARD ---
APP_KELVINBWARD_ENABLED=true
APP_KELVINBWARD_REPO="https://github.com/kelvinbward/kelvinbward.git"
APP_KELVINBWARD_DIR="apps/kelvinbward"
APP_KELVINBWARD_MODE="cluster"

# --- APP: MIDDLEWARE ---
APP_MIDDLEWARE_ENABLED=true
APP_MIDDLEWARE_REPO="https://github.com/kelvinbward/middleware.git"
APP_MIDDLEWARE_DIR="apps/middleware"
APP_MIDDLEWARE_MODE="cluster"

# --- APP: RESUME ---
APP_RESUME_ENABLED=true
APP_RESUME_REPO="https://github.com/kelvinbward/resume.git"
APP_RESUME_DIR="apps/resume"
APP_RESUME_MODE="gitops"

# --- APP: GOOBFACE ---
APP_GOOBFACE_ENABLED=true
APP_GOOBFACE_REPO="https://github.com/kelvinbward/goobface.git"
APP_GOOBFACE_DIR="apps/goobface"
APP_GOOBFACE_MODE="cluster"

# --- APP: CREATIVEAUDIOJS ---
APP_CREATIVEAUDIOJS_ENABLED=true
APP_CREATIVEAUDIOJS_REPO="https://github.com/kelvinbward/creativeAudioJS.git"
APP_CREATIVEAUDIOJS_DIR="apps/creativeAudioJS"
APP_CREATIVEAUDIOJS_MODE="cluster"

# --- APP: BLOG (3D-Printing) ---
APP_BLOG_ENABLED=true
APP_BLOG_REPO="https://github.com/kelvinbward/3D-Printing.git"
APP_BLOG_DIR="apps/3d-printing"
APP_BLOG_MODE="cluster"

# --- FUTURE APPS ---
# To add a new app:
# 1. Add identifier to REGISTERED_APPS: ("OLD" "NEW")
# 2. Define APP_NEW_ENABLED, APP_NEW_REPO, etc.
